* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-family: "Open Sans", Helvetica, sans-serif;
}

img {
  display: block;
  width: 20%;
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Home page */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
